.profile {
  margin-left: 50px;
}

.wrapper {
  background-color: white;
  border-radius: 0.5rem;
  overflow: hidden;
  margin: auto;
  box-shadow: $shadow;
  width: 80%;

  .profil-top {
    height: 20rem;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
  }

  .profilImg {
    /* background-image: url('../assets/fdl.jpg'); */
    background-position: center;
    background-size: cover;
    position: absolute;
    width: 10rem;
    height: 10rem;
    /* overflow: hidden; */
    border: 3px solid white;
    border-radius: 50%;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
  }

  .profil-bottom {
    margin-top: 5rem;
    padding-bottom: 0.8rem;

    .profil-info {
      margin-bottom: 1rem;
      color: $black1;

    }

    .grey {
      color: #999999;
    }

    .profil-stats {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

    .ville {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .stats-item:not(:last-child) {
    border-right: 1px solid black;

  }

  .stat {
    font-weight: 700;
    color: $black1;
  }


  .edit {
    background-color: $white;
    padding: 0.2rem;
    border-radius: 0.2rem;
    min-width: 200px;
  }
}
