:root {
  --blue: #287bff;
  --white: #fff;
  --grey: #f5f5f5;
  --black1: #222;
  --orange: #f2aa1e;
  --red: #dd614a;
  --green: #06a77d;
  --black2: #999;
  --shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-height: 100vh;
  overflow-x: hidden;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

#root {
  margin: 0;
  padding: 0;
  text-align: left;
  width: 100%;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/*Login page*/
form.login {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 10px;
  border-radius: 10px;
  min-width: 400px;
}

form.login div.field {
  color: var(--white);
  width: 100%;
}

form.login div.field label {
  color: var(--black2);
}

form.login div.field input {
  color: var(--black1) !important;
}

form.login div.otherActions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form.login button {
  width: 100%;
}

/* end login page */

/* Navigation bar */
.navigation {
  position: fixed;
  top: 0;
  left: 0px;
  width: 60px;
  height: 100%;
  background-color: var(--blue);
  color: var(--white);
  transition: 0.3s;
  z-index: 1;
  box-shadow: 0 0 5px var(--black1);
}

.navigation .mobile {
  display: none;
}

.navigation ul {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
  transition: background 0.3s ease-in-out;
}

.navigation ul li:first-child {
  margin-bottom: auto;
}

.navigation ul li.profile {
  margin-top: auto;
  pointer-events: none;
}

.navigation ul li.profile a {
  position: relative;
  width: 90%;
  height: 90%;
  margin: 0 auto;
  pointer-events: none;
  border-radius: 50%;
  overflow: hidden;
}

.navigation ul li.profile a span img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.navigation ul li a {
  position: relative;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: var(--white);
  transition: 0.3s ease-in-out;
}

.navigation ul li a:hover,
.navigation ul li a.active {
  color: var(--blue);
  background: var(--white);
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 70px;
  text-align: center;
}

.navigation ul li a .icon svg {
  font-size: 1.75rem;
}

.cont {
  width: 50%;
  height: 100%;
  margin: 0 1rem;
  position: relative;
  transition: .2s;
}

.searchbar {
  font-size: 2.4rem;
  width: 100%;
  height: 5rem;
  border: none;
  outline: none;
  border-radius: 10rem;
  padding: 2rem;
  transition: all 0.1s;
  transition-delay: 0.1s;
}

.button {
  height: 2rem;
  position: absolute;
  top: 0.8rem;
  right: 1rem;
  cursor: pointer;
}

/* Responsive navbar*/
@media screen and (max-width: 500px) {
  .navigation {
    left: 0;
    top: 0;
    height: auto;
    width: 100%;
  }

  .navigation .mobile {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
    justify-content: center;
    padding: 10px 0;
  }

  .navigation ul {
    display: flex;
    flex-direction: row;
  }

  .navigation ul li {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .navigation ul li:first-child,
  .navigation ul li:last-child {
    display: none;
  }

  .navigation ul li a {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .cont {
    width: 80%;
    transition: .2s;
  }
}

/* log out section*/

.LogOut {
  padding: 30px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.LogOut .actions {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Profile section */
.profilImg {
  /* background-image: url('../assets/fdl.jpg'); */
  background-position: center;
  background-size: cover;
  position: absolute;
  width: 10rem;
  height: 10rem;
  /* overflow: hidden; */
  border: 3px solid white;
  border-radius: 50%;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

.wrapper {
  background-color: white;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: var(--shadow);
  width: 80%;
}

.grey {
  color: #999999;
}

.profil-top {
  height: 20rem;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}

.profil-bottom {
  margin-top: 5rem;
  padding-bottom: 0.8rem;
}

.profil-stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.stats-item:not(:last-child) {
  border-right: 1px solid black;
}

.stat {
  font-weight: 700;
}

.profil-info {
  margin-bottom: 1rem;
}

.edit {
  position: absolute;
  bottom: 0;
  left: 100%;
  background-color: var(--white);
  padding: 0.2rem;
  border-radius: 0.2rem;
}

/* Alert section*/

.alert {
  color: var(--white);
}

.alert.success {
  background: var(--green);
}

.alert.error {
  background: var(--red);
}

.alert.warning {
  background: var(--orange);
}

.alert.info {
  background: var(--blue);
}

/* Chat page section */
.chat {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 65px);
  height: 100%;
}

.chat .messages {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 98%;
  padding: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: scroll;
  box-shadow: var(--shadow);
  width: 250px;
  height: 98%;
}

.chat .searchBox input {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 6px;
}

.chat .availableChat {
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style: none;
}

.chat .availableChat .message {
  display: flex;
  color: var(--white);
  padding: 10px;
  border-radius: 6px;
  background: rgba(50, 50, 93, 0.1);
}

.chat .availableChat .message li {
  display: flex;
  gap: 10px;
}

.chat .availableChat .message .content {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.chat .availableChat .message .profile {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.chat .availableChat .message .profile img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* Chat body */

.chat .read {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: calc(100% - 255px);
}

.chat .read .userInfo {
  position: relative;
  margin-top: 10px;
  display: flex;
  gap: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 98%;
  text-align: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.25);
  padding: 10px;
  border-radius: 10px;
}

.chat .read .userInfo .profile {
  position: relative;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: var(--shadow);
}

.chat .read .userInfo a {
  color: var(--white);
  margin-left: auto;
  padding: 5px;
  display: flex;
  text-align: center;
  border-radius: 50%;
}

.chat .read .userInfo a svg {
  font-size: 2rem;
}

.chat .read .userInfo .profile img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.chat .read .chatArea {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  gap: 10px;
  padding: 10px;
  height: calc(100% - 170px);
}

.chat .read .chatArea .msg {
  padding: 10px;
  color: var(--white);
  box-shadow: var(--shadow);
  background: var(--blue);
  max-width: 75%;
  border-radius: 10px;
}

.chat .read .chatArea div.msg.me {
  border-top-right-radius: 0;
  margin-left: auto;
}

.chat .read .chatArea div.msg.you {
  background: rgba(50, 50, 93, 0.1);
  border-top-left-radius: 0;
}

.chat .read .type {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 10px;
  bottom: 30px;
  left: 0;
  width: 98%;
  margin: auto;
  background: rgba(255, 255, 255, 0.25);
  padding: 10px;
  border-radius: 10px;
  box-shadow: var(--shadow);
}

.chat .read .type input {
  border: none;
  outline: none;
  padding: 10px;
  width: 90%;
  border-radius: 6px;
}

.chat .read .type a {
  color: var(--white);
}

.chat .read .type a svg {
  font-size: 2rem;
  color: var(--blue);
}

/* Chat Responsive*/
@media screen and (max-width: 650px) {
  .chat {
    display: flex;
    flex-direction: column;
  }

  .chat .messages {
    width: 100%;
  }

  .chat .messages .searchBox input {
    width: 75%;
  }

  .chat .read,
  .chat .messages {
    display: none;
  }

  .chat div.read.active,
  .chat div.messages.active {
    display: flex;
  }
}

@media screen and (max-width: 500px) {
  .chat {
    width: 100%;
  }

  .chat .messages {
    margin-top: auto;
    margin-bottom: 50px;
    height: calc(100% - 100px);
  }
  .chat .read {
    width: 100%;
    margin-top: auto;
    height: calc(100% - 100px);
  }
}
