* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

form.login {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 10px;
  border-radius: 10px;
  min-width: 400px;
}

form.login div.field {
  width: 100%;
}

form.login div.field input,
form.login dif.field span {
  color: white !important;
}

form.login div.otherActions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form.login button {
  width: 100%;
}
